
<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
<hr  size="10px" width="40%" align="left" >
<div class="container">

  <div class="row justify-content-center">
   
    <div class="col-12 col-lg-5 head">

      <img src="/assets/img/myAvatar2.png" alt="miavatar"> 

      <div class="maquina">
        <h3>Diego.<span>&#160;</span></h3>
      </div>

      <p><span style="color: red;" >diego@kali </span> :<span style="color: #2678fd;">~</span># whoami <br> Diego S.G
      <br><span style="color: red;" >diego@kali </span> :<span style="color: #2678fd;">~</span># sudo lshw 
      <br>💻 > Técnico en Sistemas Microinformáticos y Redes
      <br>💾 > Técnico Superior en Administración de Sistemas Informáticos en Red
      <br>🔒 > Cybersecurity Enthusiast
      <!--<br>🕵️ > Hacker
      <br>🔒 > Cybersecurity Engineer
      -->
    
      
    </p>
    <br>

      <a href="https://www.linkedin.com/in/diego-sg/" target="_blank" class="link-item d-flex align-items-center" >
        <div class="item-left">
          <fa-icon [icon]="linkedin" style="color: #2678fd;"></fa-icon>
        </div>
        <div class="item-right">
        <p>Linkedin</p>
      </div>
      </a>

      <a href="https://github.com/diegosope" target="_blank" class="link-item d-flex align-items-center" >
        <div class="item-left">
          <fa-icon [icon]="github" style="color: #2678fd;"></fa-icon>
        </div>
        <div class="item-right">
        <p>Mis proyectos de GitHub</p>
      </div>
      </a>

      <a href="https://diegosope.github.io/" target="_blank" class="link-item d-flex align-items-center" >
        <div class="item-left">
          <fa-icon [icon]="web" style="color: #2678fd;"></fa-icon>
        </div>
        <div class="item-right">
        <p>Web</p>
      </div>
      </a>

      <a href="https://tryhackme.com/p/diegosope" target="_blank" class="link-item d-flex align-items-center" >
        <div class="item-left">
          <fa-icon [icon]="thm" style="color: #2678fd;"></fa-icon>
        </div>
        <div class="item-right">
        <p>Try Hack Me</p>
      </div>
      </a>


    </div>

  </div>



 
</div>
