/* You can add global styles to this file, and also import other style files */
body{
    background-color: #242736;
    font-family: Source Code Pro;
    color: #fafafa;
    background-repeat: no-repeat;
    
  }
  .script{
    margin-left: 1250px;

}